API_KEY_TEST=
API_SECRET_TEST=

API_KEY=
API_SECRET=

STRATEGY=
SYMBOLS=
INTERVALS=
LEVERAGE=
SIZE=
GTD_NLINES=
TIMEZONE=

IS_TESTNET=
IS_BACKTEST=

BACKTEST_START_DATE=
BACKTEST_END_DATE=
BACKTEST_DATA_DIR=

WEBHOOK_URL=
