binance-sdk-derivatives-trading-usds-futures
binance-common<3.4.0
numpy<2.4
pandas
pandas_ta
python-dotenv
pydantic-settings>=2.0.0
setuptools
slack_sdk
TA-Lib
openai
anthropic
git+https://github.com/toon-format/toon-python.git
tiktoken